@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";

.app {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
    font-family: var(--font-family-main);
    color: var(--primary-color);
    background: var(--bg-color);
    min-height: 100vh;
}

.content {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 20px;
}
