:root {
    --font-family-main: "Roboto", Georgia, "Times New Roman", Times, serif;

    --font-size-m: 16px;
    --font-line-m: 24px;

    --font-size-l: 24px;
    --font-line-l: 32px;

    // размеры

    --navbar-height: 60px;

    --sidebar-width: 200px;
    --sidebar-width-collapsed: 70px;
}